@import "tailwindcss";

@keyframes pulse {
  0% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Selection color */
::selection {
  background-color: rgba(6, 182, 212, 0.3);
  color: white;
}
